.imagem-centralizada {
    display: block;
    margin: 0 auto;
  }
  
  body {
    background-color: bisque;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
  }
  
  .imagem-center {
    display: block;
    margin: 0 auto;
  }
  
  .banner-centro {
    display: block;
    margin: 0 auto;
  }
  
  img:hover {
    cursor: pointer;
    /* muda o cursor para uma mãozinha */
    border: 1px solid #ccc;
    /* adiciona um bordo ao redor da imagem */
  }
  
  .pequeno{
    width: 25px;
    height: auto;
  }